<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Lil'Fighters</title>

    <!-- css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/main.css">
  </head>
  <body data-spy="scroll" data-target="#site-nav">
    <nav id="site-nav" class="navbar navbar-fixed-top navbar-custom">
      <div class="container">
	<div class="navbar-header">

	  <!-- logo -->
	  <div class="site-branding">
	    <a class="logo" href="index.html">

	      <!-- logo image  -->
	      <img src="assets/images/logo.png" alt="Logo">

	      <!--  Lil'Fighters 2022-->
	    </a>
	  </div>

	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-items" aria-expanded="false">
	    <span class="sr-only">Toggle navigation</span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	  </button>
	</div>
      </div><!-- /.navbar-header -->

      <div class="collapse navbar-collapse" id="navbar-items">
	<ul class="nav navbar-nav navbar-right">

	  <!-- navigation menu -->
	  <li class="active"><a data-scroll href="#about">About</a></li>
	  <li><a data-scroll href="#speakers">Players</a></li>              
	  <li><a data-scroll href="#schedule">Schedule</a></li>                  
	  <li><a data-scroll href="#partner">Partner</a></li>                  
	  <!-- <li><a data-scroll href="#">Sponsorship</a></li> -->
	  <li><a data-scroll href="#faq">FAQ</a></li>
	  <li><a data-scroll href="#photos">2021 Photos</a></li>

	</ul>
      </div>
      <section id="about" class="section about">
        <div class="container">
          <div class="row">
            <div class="col-sm-6">

              <h3 class="section-title">A propos du Lil'Fighters</h3>

              <p>Tout a démarré lorsque le joueur lyonnais Blackmane avait annoncé sa venue au ranking de Novembre 2021. Bon, il est pas venu. Mais ça avait motivé plus de 50 Joueurs à se déplacer le même week-end pour doser comme des passionés. Pour l'occasion, on avait reservé la salle de concert d'Atom City qu'on avait remplis avec 6 set-ups en versus. Cette année, on refait la même, en mieux.</p>

              <figure>
                <img alt="" class="img-responsive" src="assets/images/about-us.jpg">
              </figure>

            </div><!-- /.col-sm-6 -->

            <div class="col-sm-6">

              <h3 class="section-title multiple-title">On fait quoi cette annnée</h3>

	      
              <p>Cette année, on reserve 3 jours entiers, du 2 au 4 décembre inclus. On kidnappe Blackmane pour s'assurer de sa venue. On a invité des joueurs internationnaux. gmini nous a fournit un visuel de fou furieux. On a des sides event sur Alpha 3 et Breakers Revenge. Et on laissera pas Balcork gagner le solo. C'est certains : ça sera la meilleur édition par rapport à toutes les éditions précédentes. Regarder cette image de Baz' et son regard vraiment très motivé.</p>

              <ul class="list-arrow-right">

                <li>5 setup versus Super Street Fighter 2X</li>
                <li>2 setup versus Street Fighter Alpha 3</li>
                <li>2 setup versus Breakers Revenge</li>
                <li>Une affiche en vente par gmini</li>
                <li>Des joueurs internationnaux</li>
                <li>Voir Baz perdre contre des rangs C « In real Life »</li>
                
              </ul>

            </div><!-- /.col-sm-6 -->
          </div><!-- /.row -->
        </div><!-- /.container -->
      </section>


      <!-- script -->
      <script src="bower_components/jquery/dist/jquery.min.js"></script>
      <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
      <script src="bower_components/smooth-scroll/dist/js/smooth-scroll.min.js"></script>
      <script src="assets/js/main.js"></script>

  </body>
</html>
