@charset "utf-8";
/* ============================================================ *\

	layout

\* ============================================================ */

/* ============================================================ *\
    $common
\* ============================================================ */

#wrapper {}

#contents, #pagetop, #footer p.address {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-right: 10px;
    padding-left: 10px;
    width: 100%;
    box-sizing: border-box;
}

/* SP */

@media screen and (max-width: 767px) {
    #contents {
        padding: 0;
    }
}

/* TB */

@media print, screen and (min-width: 768px) {}

/* PC */

@media print, screen and (min-width: 1025px) {
    #contents {
        display: block;
        max-width: 1366px;
    }
}

/* ============================================================ *\
    $header
\* ============================================================ */

#header {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    width: auto;
    height: auto;
    background: transparent url(/files/000061767.png) 135px 0 no-repeat;
    text-align: right;
    line-height: 1.2;
}

body.en #header {
    padding-left: 450px;
    padding-bottom: 20px;
    min-width: 500px;
}

#header a {
    text-decoration: none;
}

/* $header box style */

#header-left {
    margin: 0;
    padding: 0 60px 0 0;
    display: -ms-flexbox;
    /* IE10 */
    display: -webkit-box;
    /* Android4.3以下、Safari3.1～6.0 */
    display: -webkit-flex;
    /* Safari6.1以降 */
    display: flex;
    width: 100%;
    box-sizing: border-box;
}

#logo-emb {
    display: table-cell;
    padding: 14px 0 0 10px;
    width: 50px;
    vertical-align: top;
}

#logo-emb img {
    width: 50px;
}

#emb-name {
    display: table-cell;
    padding: 14px 0 0 10px;
    text-align: left;
    background-color: transparent;
    border: 0;
}

#emb-name a:link, #emb-name a:hover, #emb-name a:visited, #emb-name a:active {
    color: #000066;
}

#emb-name .embname-main {
    font-weight: bold;
    font-size: 2.8em;
    padding: 4px 0 0 0;
    margin: 0;
}

#emb-name .embname-sub {
    font-weight: bold;
    font-size: 2.2em;
    margin: 0;
    display: -ms-flexbox;
    /* IE10 */
    display: -webkit-box;
    /* Android4.3以下、Safari3.1～6.0 */
    display: -webkit-flex;
    /* Safari6.1以降 */
    display: flex;
}

#emb-name .embname-sub .embname-text {
    margin: 4px 5px 0 0;
}

#header-right {
    display: block;
    padding-top: 20px;
    text-align: right;
}

html[lang='en'] #emb-name span, html[lang='ar'] #emb-name span {
    border: 0;
}

/* SP */

@media screen and (max-width: 767px) {}

/* TB */

@media print, screen and (min-width: 768px) {}

/* PC */

@media print, screen and (min-width: 1025px) {
    #header-left {
        width: 55%;
        padding: 0;
        box-sizing: border-box;
        vertical-align: top;
    }
}

/* $function */

#cse-search-box, dl#textchanger {
    margin-top: 17px;
}

body.en form#cse-search-box, body.en dl#textchanger {
    /*margin-top: 20px;*/
}

/* $cse-search-box */

#cse-search-box #searchbox {
    display: block;
    float: left;
    margin: 0;
    width: 280px;
    border: 1px solid #036 !important;
    border-image-width: 0 !important;
    font-size: 1.3em !important;
    vertical-align: top;
    border-radius: 0;
}

body.en #cse-search-box #searchbox {
    width: 242px;
}

#cse-search-box #searchbutton {
    display: block;
    float: right;
    margin: 0 0 0 3px;
    width: 4.1em;
    height: 20px;
    background-color: #036;
    color: #fff;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #036 !important;
    font-weight: bold;
    text-align: center;
    line-height: 1.0;
    vertical-align: top;
    cursor: pointer;
    font-size: 1.3em;
    overflow: hidden !important;
    white-space: nowrap;
}

#cse-search-box #searchbutton span {
    display: block;
    line-height: 1.0;
}

#cse-search-box #searchbutton, x:-moz-any-link, x:default {
    padding-top: 1px;
    padding-bottom: 2px;
}

body.en #cse-search-box #searchbutton {
    width: 5.5em;
}

#cse-search-box #searchbutton:hover {
    background-color: #fff;
    color: #036;
}

#cse-search-box #searchbutton * {
    border-width: 0 !important;
}

/* ============================================================ *\
    $contents
\* ============================================================ */

#contents {
    margin-top: 15px;
    line-height: 1.4;
}

body.en #contents {
    font-size: 1.5em;
    line-height: 1.3;
}

#contents-article {}

/* contents-header */

#contents-header {
    width: 100%;
}

/* contents-body */

#contents-body {
    display: -ms-flexbox;
    /* IE10 */
    display: -webkit-box;
    /* Android4.3以下、Safari3.1～6.0 */
    display: -webkit-flex;
    /* Safari6.1以降 */
    display: flex;
    position: relative;
}

/* SP */

@media screen and (max-width: 767px) {
    #contents-body {
        flex-wrap: wrap
    }
}

/* ============================================================ *\
    $main
\* ============================================================ */

div#main {
    width: 100% !important;
}

div#sub {
    margin-left: 15px;
}

/* SP */

@media screen and (max-width: 767px) {}

/* TB */

@media print, screen and (min-width: 768px) {
    #page-linklist div#main {
        margin-right: 0;
    }
}

/* PC */

@media print, screen and (min-width: 1025px) {}

/* ============================================================ *\
    $sub
\* ============================================================ */

#sub {
    width: 230px;
}

#sub .section {
    margin: 0 0 15px 0;
    background-color: #ffffff;
}

/* SP */

@media screen and (max-width: 767px) {
    div#sub {
        width: 100%;
        padding: 0 10px;
        margin-left: 0;
    }
}

/* TB */

@media print, screen and (min-width: 768px) {
    #sub {
        width: 170px;
        min-width: 170px;
    }
    .zaigai_top div#sub {
        margin-left: 0;
    }
}

/* PC */

@media print, screen and (min-width: 1025px) {
    #sub {
        width: 225px;
        min-width: 225px;
    }
    .zaigai_top div#sub {
        margin-left: 15px;
    }
}

/**************************************************
 footer_page_link
***************************************************/

.footer_page_link {
    width: 100%;
    margin: 20px auto 0;
    padding: 0 10px;
    box-sizing: border-box;
    text-align: left;
    max-width: 1366px;
}

.footer_page_link:after {
    content: '';
    display: block;
    clear: both;
    width: 100%;
}

.footer_page_link .pageback {
    padding: 0;
    margin: 5px 0 1em;
}

.footer_page_link .pageback a, .footer_page_link .pagemove a {
    padding: 1px 0 1px 17px;
    line-height: 2;
    position: relative;
    display: inline-block;
}

.footer_page_link .pageback a:after, .footer_page_link .pagemove a:after {
    position: absolute;
    display: block;
    content: '';
    top: 12px;
    left: 5px;
    width: 4px;
    height: 4px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(135deg);
}

.footer_page_link .pageback a:before, .footer_page_link .pagemove a:before {
    position: absolute;
    display: block;
    content: '';
    top: 8px;
    left: 0px;
    width: 14px;
    height: 14px;
    background: #333;
    border-radius: 15px;
}

.footer_page_link .pagetop a {
    padding: 1px 0 1px 17px;
    line-height: 2;
    position: relative;
    display: inline-block;
}

.footer_page_link .pagetop a:after {
    position: absolute;
    display: block;
    content: '';
    top: 12px;
    left: 4px;
    width: 4px;
    height: 4px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(225deg);
}

.footer_page_link .pagetop a:before {
    position: absolute;
    display: block;
    content: '';
    top: 7px;
    left: 0px;
    width: 14px;
    height: 14px;
    background: #333;
    border-radius: 15px;
}

.footer_page_link a:hover, .footer_page_link a:active, .footer_page_link a:visited:hover, .footer_page_link a:visited:active {
    color: #000066;
    background-color: #fff;
}

.footer_page_link .pageback+.pagemove {
    margin-left: 20px;
}

/* SP */

@media screen and (max-width: 767px) {
    .footer_page_link {
        display: block;
        margin: 0;
    }
    .footer_page_link .pageback, .footer_page_link .pagemove, .footer_page_link .pagetop {
        float: none;
    }
    .footer_page_link .pageback+.pagemove {
        margin-left: 0;
    }
    .footer_page_link .pageback a, .footer_page_link .pagemove a {
        margin: 0;
        text-align: left;
    }
    .footer_page_link .pagetop {
        display: block;
        text-align: right;
    }
}

/* ============================================================ *\
    $sitemap-footer
\* ============================================================ */

div#sitemap-footer {
    border-top: 2px solid #036;
    background: #f0f0f0;
}

div#sitemap-footer .wrapper {
    display: -ms-flexbox;
    /* IE10 */
    display: -webkit-box;
    /* Android4.3以下、Safari3.1～6.0 */
    display: -webkit-flex;
    /* Safari6.1以降 */
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    margin: -2px auto 10px;
    padding-top: 16px;
    padding-bottom: 10px;
    border-top: 2px solid #036;
    background-color: #f0f0f0;
}

div#sitemap-footer .wrapper:before, div#sitemap-footer .wrapper:after {
    display: block;
    content: "";
}

html[lang="en"] div#sitemap-footer .wrapper {
    padding-top: 20px;
    padding-bottom: 0;
}

div#sitemap-footer dt {
    padding: 4px 8px 1px 0;
    border-top: 2px solid #1756bd;
    border-right: 1px solid #1756bd;
    border-left: 1px solid #1756bd;
    background-color: #fff;
    font-size: 1.5em;
    line-height: 1.2;
}

html[lang="en"] div#sitemap-footer dt {
    padding-top: 3px;
    padding-bottom: 2px;
}

div#sitemap-footer dd dt {
    margin-top: 8px;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    background-color: transparent;
    color: #192a7f;
    font-size: 1em;
    font-weight: bold;
    line-height: 1.1;
}

div#sitemap-footer .link-arrow a {
    background-image: url(/files/000061751.png);
    background-position: -2px -6px;
}

div#sitemap-footer .link-arrow dt a {
    padding-left: 18px;
    background-image: url(/files/100000013.png);
    background-position: 0 -7px;
}

html[lang="en"] div#sitemap-footer .link-arrow dt a {
    background-position: 0 -5px;
}

div#sitemap-footer dd {
    padding-bottom: 20px;
    padding-left: 18px;
    font-size: 1.2em;
    line-height: 1.1;
}

html[lang="en"] div#sitemap-footer dd {
    padding-bottom: 26px;
}

div#sitemap-footer dd dd, html[lang="en"] div#sitemap-footer dd dd {
    padding-bottom: 0;
    padding-left: 0;
    font-size: 1em;
}

div#sitemap-footer dd ul li {
    margin-top: 8px;
}

div#sitemap-footer dd ul ul {
    margin-left: 10px;
}

/* ============================================================ *\
    $footer
\* ============================================================ */

#footer {
    border-top: 1px dotted #bfbfbf;
    padding-top: 40px;
    margin: 0 10px;
}

#footer ul.menu-sub {
    display: -ms-flexbox;
    /* IE10 */
    display: -webkit-box;
    /* Android4.3以下、Safari3.1～6.0 */
    display: -webkit-flex;
    /* Safari6.1以降 */
    display: flex;
    justify-content: center;
}

#footer ul.menu-sub li {
    padding: 0 2px;
}

#footer ul.menu-sub li a {
    text-decoration: underline;
}

#footer .copyright {
    text-align: center;
}

/* SP */

@media screen and (max-width: 767px) {
    #footer ul.menu-sub {
        font-size: 0.8em;
    }
    #footer .copyright {
        font-size: 0.88em;
    }
}

/* TB */

@media print, screen and (min-width: 768px) {}

/* PC */

@media print, screen and (min-width: 1025px) {}

/* ============================================================ *\
    $other
\* ============================================================ */

/* $position ---------------- */

#page-topindex .left {
    text-align: left !important;
}

#page-topindex .center {
    text-align: center !important;
}

#page-topindex .right {
    text-align: right !important;
}

/* $margin ---------------- */

.marginright-none {
    margin-right: 0 !important;
}

div#sitemap-footer .marginright-none {
    width: 294px;
}

/* $icon ---------------- */

/* $link-arrow */

.link-arrow {
    margin-top: 12px;
}

html[lang="en"] .link-arrow {
    margin-top: 10px;
}

.link-arrow li {
    margin-top: 11px;
}

html[lang="en"] .link-arrow li {
    margin-top: 7px;
}

.link-arrow li:first-child {
    margin-top: 0;
}

.link-arrow a {
    padding-left: 12px;
    background-image: url(/files/100000009.png);
    background-position: -2px -5px;
    background-repeat: no-repeat;
}

html[lang="en"] .link-arrow a {
    background-position: -2px -3px;
}

.link-arrow a:hover {
    color: #fff;
}

/* $link-warrow */

ul.link-warrow {
    margin-top: 12px;
}

.link-warrow li {
    margin-top: 11px;
}

.link-warrow li:first-child {
    margin-top: 0;
}

.link-warrow a {
    padding-left: 15px;
    background-image: url(/files/100000035.png);
    background-position: 0 -5px;
    background-repeat: no-repeat;
}

html[lang="en"] .link-warrow a {
    background-position: 0 -3px;
}

html[lang="en"] #box-highlights .link-warrow a {
    margin: 0 0 0 15px;
}

html[lang="en"] #box-linkabout .link-warrow a {
    margin: 0 0 0 15px;
}

#sub .box-navy .link-warrow a {
    margin: 0 0 0 15px;
}

/* $list ---------------- */

/* $list-inline */

.list-inline {
    margin-top: 0 !important;
}

.list-inline li {
    margin-top: 15px!important;
    margin-right: 8px;
}

html[lang="en"] .list-inline li {
    margin-top: 10px;
}

/* $list-date */

.list-date dt {
    margin-top: 13px;
    padding-top: 15px;
    border-top: 1px dotted #036;
    font-weight: bold;
}

html[lang="en"] .list-date dt {
    margin-top: 14px;
    padding-top: 11px;
}

.list-date dt:first-child, html[lang="en"] .list-date dt:first-child {
    margin-top: 0;
    border-top-width: 0;
}

.list-date dd {
    padding-left: 30px;
}

.list-date dd.emergencyNews {
    padding-left: 0;
}

/* $link-banner */

.link-banner {
    margin-top: 10px;
}

.link-banner li {
    margin-top: 5px;
}

.link-banner li:first-child {
    margin-top: 0;
}

.link-banner a {
    display: block;
}

#link-sp-banner {
    display: none;
}

/* $menu-sub */

.menu-sub li {
    display: inline;
    padding-right: 5px;
    padding-left: 5px;
    vertical-align: top;
}

.menu-sub li a {
    vertical-align: middle;
    text-decoration: none;
}

/* $text ---------------- */

.textsize-m {
    font-size: 1.1428em;
}

div#main ul.textsize-m {
    margin-top: 15px;
}

.text-bold {
    font-weight: bold;
}

/* $background ---------------- */

.bg-navy {
    background-color: #036;
}

div#slideshow {
    margin-bottom: 10px;
}

/* ============================================================ *\
    $hack
\* ============================================================ */

dl#textchanger, dl#textchanger dd, #cse-search-box, .list-inline li, .link-arrow a, .link-warrow a {
    display: inline-block;
}

/* ============================================================ *\
    $for sp
\* ============================================================ */

#emergencyinfo .sp-only-inline, #emergencyinfo .sp-only-block {
    display: none;
}

/* ============================================================ *\
    $emergencyinfo
\* ============================================================ */

html[lang=en] .earthquake_l {
    width: 504px;
    float: left;
}

html[lang=en] .earthquake_r {
    width: 196px;
    float: right;
    text-align: right;
}

html[lang=en] .earthquake_b {
    clear: both;
    margin-bottom: 10px;
}